/make.header
/examples/**/bin
/examples/**/cetus_input
/examples/**/cetus_output
/examples/**/openarcConf.txt
/examples/**/.log
/examples/**/**/bin
/examples/**/**/cetus_input
/examples/**/**/cetus_output
/examples/**/**/openarcConf.txt
/benchmarks/**/bin
/benchmarks/**/cetus_input
/benchmarks/**/cetus_output
/benchmarks/**/openarcConf.txt
/benchmarks/**/*.log
/benchmarks/**/**/bin
/benchmarks/**/**/cetus_input
/benchmarks/**/**/cetus_output
/benchmarks/**/**/openarcConf.txt
/benchmarks/**/**/*.log
/benchmarks/**/**/**/bin
/benchmarks/**/**/**/cetus_input
/benchmarks/**/**/**/cetus_output
/benchmarks/**/**/**/openarcConf.txt
/benchmarks/**/**/**/*.log
